# Logs
logs
*.log

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# need to unignore this for prod
client/templates.js

# generated css
dist/css

# probably shouldn't track database
api/db
