div.view-group(data-hook="patterns-view-container")
	if patterns && patterns.length > 0
		h3 Patterns
		ul
			each pattern in patterns
				li
					- if (setName && pattern && pattern.name) {
						- var destRoute = '/set/' + slugger(setName) + '/pattern/' + slugger(pattern.name);
						a.client-nav(data-dest-route="#{destRoute}" href="#{destRoute}") #{pattern.name}
					- }
	else
		if patterns
			h3 No patterns here
		//- else we're in loading or error state
