div.view-group(data-hook="patterns-view-container")
	if patterns && patterns.length > 0
		h3 Patterns
		ul
			each pattern in patterns
				li
					- var destRoute = slugger('/set/' + setName + '/pattern/' + pattern.name);
					a.client-nav(data-dest-route="#{destRoute}" href="#{destRoute}") #{pattern.name}
	else
		if patterns
			h3 No patterns here
		//- else we're in loading or error state
