div.view-group(data-hook="songs-view-container")
	if songs && songs.length > 0
		h3 Songs
		ul
			each song in songs
				li
					- if (setName && song && song.name) {
						- var destRoute = '/set/' + slugger(setName) + '/song/' + slugger(song.name);
						a.client-nav(data-dest-route="#{destRoute}" href="#{destRoute}") #{song.name}
					- }
	else
		if songs
			h3 No songs here
		//- else we're in loading or error state
