section.page.pool
	h1 Sound Pool
		- if (setName) {
			- var destRoute = '/set/' + slugger(setName || 'wtf');
			a.back-to-set-link.client-nav(data-dest-route="#{destRoute}" href="#{destRoute}") back to set
		- }
	div(data-hook="samples-container")
	div(data-hook="pool-entries-container")
