section.page.pool
	h1 Sound Pool
		- var destRoute = slugger('/set/' + setName);
		a.back-to-set-link.client-nav(data-dest-route="#{destRoute}" href="#{destRoute}") back to set
	div(data-hook="samples-container")
	div(data-hook="pool-entries-container")
