section.pool {
	h1 {
		background-color: #DAA7FA;
	}
	h3 {
		margin: 8px;
	}
	[data-hook="samples-container"] {
		min-height: 100px;
	}
	.file-input {
		display: none;
	}

	// TODO: should really live in a less file next to view.
	.sample-entry {
		.sample-name {
		}
		.sample-status {
			.progress-bar {
			}
		}
	}
}
