section.set {
	h1 {
		background-color: #0aa;
	}

	[data-hook="pool-view-container"] {
		height: 150px;
	}
	.upload-files-button {
		margin: 16px;
		height: 24px;
	}

	[data-hook="patterns-view-container"] {
		height: 200px;
	}

	[data-hook="songs-view-container"] {
		height: 200px;
	}

	.manage-sounds-link {
		margin: 4px;
	}
}
