section.set {
	h1 {
		background-color: #0aa;
	}

	[data-hook="patterns-view-container"] {
		height: 200px;
		margin: 16px 0;
		border: 1px solid black;
		padding: 4px;
		h3 {
			margin: 0px;
		}
	}
}
