div(data-hook="step-grid-view-container")
	if !rows
		div.loading #{'loading...'}
	else
		thead
		table
			each row in rows
				tr
					- for (var iStep = 0; iStep < row.steps.length; ++iStep) {
						td.grid-step(class=row.steps[iStep] >= 0.5 ? 'step-on' : '')
					- }
					td.delete-row
						button.delete-row -
		div.add-row
			button.add-row +
