div.view-group(data-hook="pool-entries-container")
	if pool && pool.length > 0
		h3 Pool Entries
		ul
			each poolEntry in pool
				li #{poolEntry.name}
	else
		if patterns
			h3 No pool entries here
		//- else we're in loading or error state
