div.view-group(data-hook="samples-container")
	h3 No samples here
	div.file-group
		input.file-input(type="file", multiple="multiple")
		a.view-link.file-input-link(href="javascript:void(0)") Upload samples
