div.sample-entry(data-hook="sample-entry-container")
	// TODO: use flex box for this
	// https://css-tricks.com/snippets/css/a-guide-to-flexbox/
	if name
		div.sample-name #{name}
	if testUrl
		div.sample-test-url
			a(href="#{testUrl}") Test it
	div.sample-status
		div(data-hook="progress-bar")
