div.set-group(data-hook="pool-view-container")
	if pool && pool.length > 0
		h3 Sound Pool
		ul
			each poolEntry in pool
				li #{poolEntry.name}
	else
		if patterns
			h3 No pool entries here
		//- else we're in loading or error state
